body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: #b82d03;
  padding: 50px;
  height: 200vh;
}

.todo-list{
  background: #e8e8e8bd;
  border-radius: 4px;
  padding: 5px;
  max-width: 1000px;
}

.todo{
  background: #e8e8e8bd;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
  padding: 3px 15px;
  font-size: 28px;
  margin-bottom: 6px;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 200%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 2rem;
  font-size: 28px;
}
